html, body {
  height: 100%;
  margin: 0;
  background: #f8f4f4 !important;
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
}

:host {
  display: block;
  min-height: 100vh;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}